@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
body {
    background-color: #aad8d3;
    /* box-sizing: border-box; */
    font-family: 'Roboto', sans-serif;
}
.title {
    width: 80%;
    height: 6rem;
    background-color: #00adb5;
    color: black;
    text-align: center;
    margin: auto;
    font-size: 30px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    font-weight: 400;
    margin-bottom: 40px;
   
}
h1 {
    margin: 20px;
    font-size: 2rem;
    
}

#contenedor {
    background-color: #393e46;
    color: #fff;
    text-align: center;
    height: 70vh;
    width: 80%;
    margin: auto;
    /* display: inline-block; */
}
.titulos {
    display: flex;
    height: 10rem;
    justify-content: space-around;
    font-size: 1.2rem;

}
.parrafos {
    width: 10rem;
    height: 10rem;
}
.clima-valores {
    display: flex;
    justify-content: space-around;
}
.valores {
    width: 10rem;
    height: 10rem;
}
p {
   
    margin-top: 5rem;
    margin-bottom: 4rem;
    padding: 18px;
    color: #fff; 
}

footer {
    width: 80%;
    height: 2rem;
    background-color: #393e46;
    color: blanchedalmond;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}